html{
  width: 100%;
  height: 100%;
  margin: 0;
}


body{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
    margin: 0;
}


/* ===================================HEADER================================= */
header{
  width: 100%;
  text-align: center;
}
header h1{
  font-family: 'Righteous', cursive;
}



/* ==================================MAIN======================================== */




main{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CARD{
  position: relative;
  width: 90%;
  height: 90%;
}






#btn_SP{
  position: absolute;
  bottom: 0px;
  left: 12px;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
}
#bou{
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.SP{
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  width: 90%;
  height: 90%;
  transform: scale(0);
  /* background: blue; */
  display: flex;
  justify-content: center;
  align-items: center;
}

#bou:checked + .SP{
  animation: zoomin 2s both;
}

#bou:not(checked) + .SP{
  animation: zoomout 2s both
}

#LienSP{
  display: flex;
  justify-content: center;
  align-items: center;
}

.SPimg{
  width: 50%;
  height: 50%;
}






#btn_IN{
  position: absolute;
  bottom: 0px;
  left: 48.8%;
  font-family: 'Sansita Swashed', cursive;
  font-weight: bold;
}
#bou_2{
  position: absolute;
  bottom: 20px;
  left: 50%;
}
.IN{
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  width: 90%;
  height: 90%;
  transform: scale(0);
  display: flex;
  justify-content: center;
  align-items: center;
}

#bou_2:checked + .IN{
  animation: zoomin 2s both;
}

#bou_2:not(checked) + .IN{
  animation: zoomout 2s both;
}

#LienIN{
  display: flex;
  justify-content: center;
  align-items: center;
}

.INimg{
  width: 50%;
  height: 50%;
}












#btn_YT{
  position: absolute;
  bottom: 0px;
  right: 0px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;

}
#bou_3{

  position: absolute;
  margin: 0px;
  bottom: 20px;
  right: 20px;
}
.YT{
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  width: 70%;
  height: 70%;
  transform: scale(0);
  display: flex;
  justify-content: center;
  align-items: center;
}

#bou_3:checked + .YT{
  animation: zoomin 2s both;
}
#bou_3:not(checked) + .YT{
  animation: zoomout 2s;
}

#LienYT{
  display: flex;
  justify-content: center;
  align-items: center;
}

.YTimg{
  width: 50%;
  height: 50%;
}




@keyframes zoomin {
  0%{
    transform: scale(0);
  }
  100%{
    transform: scale(1);
  }
}
@keyframes zoomout {
  0%{
    transform: scale(1);
    }
  100%{
    transform: scale(0);
  }
}


/* ==================================FOOTER=================================== */
footer{
  width: 100%;
}
