html{
  margin: 0px;
  width: 100%;
  height: 100%;
}

body{
  background-color: rgb(250, 250, 250);
  margin: 0px;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}


/* ===========================================HEADER======================================= */
header{
  width: 100%;
  height: 50px;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(var(--b6a,219,219,219),1)
}

.nav_instagram{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.box_left{
  width: 50%;
  height: 100%;
  margin-left: 80px;
  display: flex;
  align-items: center;
}
.box_left a{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box_right{
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.box_right a{
  margin-right: 80px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Logo_spotify{
  height: 30px;
}
.Logo_instagram{
  height: 30px;
}
.Logo_youtube{
  height: 30px;
}





/* =============================================MAIN========================================== */
.instagram_main{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 50px;
}

.instagram_left{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.cadre_instagram{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px;
}
.cadre_instagram h1{
  margin: 0px;
  font-size: 50px;
  font-family: 'Sansita Swashed', cursive;
}
.cadre_instagram p{
  margin: 0px;
  font-size: 18px;
}



.central_instagram{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid rgba(var(--b6a,219,219,219),1);
  margin-top: 30px;
  background-color: rgb(255, 255, 255);
}

.profil_instagram{
  display: flex;
  align-items: center;
  height: 50px;

}
.profil_instagram img{
  border-radius: 100%;
  height: 70%;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 20px;
  margin-right: 20px;
}
.profil_instagram h2{
  font-size: 20px;
  margin: 0px;
}

.image_Wes{
  width: 100%;
}
.instagram_right{
  width: 25%;
  background-color: red;
}


/* ================================================FOOTER========================== */
footer{
  height: 50px;
  width: 100%;
  background: black;
}
